<div class="py-5">
    <div class="border border-5 border-dark">
        <div class="card-heade text-light" style="background-color: #2d2a29;">
            <h2 class="p-3">Login</h2>
        </div>
        <div class="card-body" > 
            <div class="text-danger" id="errors"></div>
            <form class="form login-form">
                <div class="form-outline">
                    <label class="form-label" for="username-login">Username</label>
                    <input class="form-control" type="text" id="username-login" />
                </div>
                
                <div class="form-group">
                    <label class="form-label" for="password-login">Password:</label>
                    <input class="form-control" type="password" id="password-login" />
                </div>
                <div class="form-group">
                    <button class="btn text-light" type="submit" style="background-color: #2d2a29;">login</button>
                </div>
            </form>
            <a class="text-dark" href="/signUp">Sign up instead</a>
        </div>
    </div>
</div>

<script src="../js/login.js"></script>